In [1]:
#q1
#create one variable contain various types of data

In [2]:
a="this is my first assignment"

In [3]:
a

'this is my first assignment'

In [4]:
a=[1,2,"divya",45.67,6+7j,34]

In [5]:
a

[1, 2, 'divya', 45.67, (6+7j), 34]

In [6]:
a=(1,2,45,67)

In [7]:
a

(1, 2, 45, 67)

In [8]:
a=12.45

In [9]:
a

12.45

In [10]:
type(a)

float

In [11]:
#variable with containing combine data types.....list

In [12]:
var=[1,23,45,"diya",45.567,[23,45],(23,56,78)]

In [13]:
var

[1, 23, 45, 'diya', 45.567, [23, 45], (23, 56, 78)]

In [ ]:

# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [14]:
var1=''
type(var1)

str

In [15]:
var2='[DS,ML,PYTHON]'
type(var2)

str

In [16]:
var3=['DS','ML','PYTHON']
type(var3)

list

In [17]:
var4=1
type(var4)

int

In [18]:

# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [ ]:
/ is a division operator
it is basically use for division 
it is also called float division 
ex: x/y

In [21]:
5/5

1.0

In [22]:
10/2

5.0

In [23]:
10/5

2.0

In [ ]:
% is a modulus operator
it returns only the remainder

In [24]:
a=13
b=4
a%b

1

In [ ]:
// is a floor division operator

In [25]:
10//3

3

In [26]:
13//4

3

In [ ]:
** is a power operator
ex:x**y

In [27]:
a=4
b=2
a**b

16

In [28]:
#q4Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [29]:
list=[12,23,"diya",34,34.67,6+7j,[12,56,7],56.6,"pwskills",23]

In [30]:
list

[12, 23, 'diya', 34, 34.67, (6+7j), [12, 56, 7], 56.6, 'pwskills', 23]

In [31]:
len(list)

10

In [32]:
for i in list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [1]:
a=int(input("enter the value for a:"))
b=int(input("enter the value for b:"))
count=0
while a%b==0:
      a=a/b
      count=count+1
if(count>0):
      print(f"{a} is divisible by {b}{count} times")
else:
      print("not divisible")

enter the value for a: 12
enter the value for b: 2

3.0 is divisible by 22 times

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [4]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [7]:
l1=[]
l2=[]
for i in list1:
    if i%3==0:
        l1.append(i)
    else:
        l2.append(i)
    l1

In [8]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [9]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [11]:
#q7What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
mutable data type:=
mutable means that allow you to change their value or data .
ex:list are mutable 


immutable data type:=
immutable means that doesnt allow us to make any chnges in data .
ex:string are immutable

In [ ]:
suppose we take an example for mutable

In [12]:
list=[1,3,45,67,89]
list

[1, 3, 45, 67, 89]

In [13]:
list[1]=90

In [15]:
list

[1, 90, 45, 67, 89]

In [ ]:
suppose take an example for immutable

In [16]:
str="hello sir,how are you"

In [17]:
type(str)

str

In [20]:
str[1]="l"

TypeError: 'str' object does not support item assignment

In [ ]:
here we can see that it throwing an error.